*,
*:after,
*:before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover
{
  transition : all 0.5s;
}

/*common content*/

html
{
  scroll-behavior: smooth;
}

body
{
  font-family: Arial, sans-serif;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

section
{
padding-top: 5rem;
}

img
{
  display : block;
  max-width : 100%;
  height : 100%;
}

main
{
  background-color: #f1f1f1;
  padding-left: 5rem ;
  padding-right: 5rem;
}


/*Accueil*/

.header
{
  background: black url(../img/raquette.jpg) no-repeat 50% 50%;
  background-size : cover;
  width: 100%;
  min-height: 100vh;
  margin : auto;
}

.nav
{
  width : 100%;
  background : #FF8E00;
}

.nav-link
{
  color : #FFFFFF;
}

.nav-link:hover
{
  color : #FFFFFF;
  text-decoration: underline;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus
{
  background : #FFFFFF;
  color : #FF8E00;
  border-style : none;
}

.btn-primary:hover
{
  border-radius : 10px;
}

/*Section Historique*/

.main_centered
{
  max-width : 100rem;
  margin : 0 auto;
}

.flex
{
  display : flex;
  flex-flow : row wrap;
	align-items: center;
	justify-content: center;
  width : 100%;
  min-height : 100vh;
}

.img-placing, .text
{
  flex: 0 0 45%;
  max-width: 50%;
}

.text
{
  background-color: #fff;
  padding: 2rem;
  margin-left:  1rem;
}

/*Section événements*/

.text-centering, .news
{
display : flex;
flex-flow : column wrap;
padding : 0 5rem;
}

.events
{
  flex: 0 0 40%;
  max-width: 40%;
}

.news
{
  flex: 0 0 60%;
  max-width: 60%;
  background-color: #fff;
  margin-top: 1rem;
  padding:  2rem;
  border: 2px solid #000;
  border-radius: 2rem;
}

.event
{
  display : flex;
  flex-flow : column wrap;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 2rem;
  margin-right: 1rem;
  line-height:  1rem;
}

/*Section équipes*/

.equipe{
  flex-direction: column;
}

/*Formulaire*/

.formulaire{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#boutons-connexion{
  margin-top: 1rem;
}
