*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover
{
  transition : all 0.5s;
}

/*common content*/

html{
  scroll-behavior: smooth;
}

body
{
  font-family: Arial, sans-serif;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.header
{
  background: black url(../img/raquette.jpg) no-repeat 50% 50%;
  background-size : cover;
  width: 100%;
  min-height: 100vh;
  margin : auto;
}

.nav
{
  width : 100%;
  background : #FF8E00;
}

.nav-link
{
  color : #FFFFFF;
}

.nav-link:hover
{
  color : #FFFFFF;
  text-decoration: underline;
}

.btn-primary
{
  background : #FFFFFF;
  color : #FF8E00;
  border-style : none;
}

main{
  background-color: #f1f1f1;
  padding-bottom: 2rem;
}



/*Accueil*/


/*Formulaire*/

.formulaire{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#boutons-connexion{
  margin-top: 1rem;
}
